body {
  background-color: #0B132B;
}

h1 {
  font-size: 3vw;
  color: #9AC6C5;
}

h2 {
  font-size: 2vw;
  color: #9AC6C5;
}

p {
  font-size: 1vw;
  color: #526E82;
}

a {
  color: #9AC6C5;
  text-decoration: none;
}

a:hover {
  color: #6A8B98;
}

.btn:focus {
  box-shadow: none;
}